.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(90deg, #0095ffbe 0%, #ffdf6abe 100%);
}

.header {
  display: flex;
  align-items: center;
  padding: 1rem 1.2rem;
  width: 100%;
  gap: 0.5em;
  color: #20b2aa;
}

.container {
  background: white;
  border-radius: 0.5em;
  overflow: hidden;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  color: #1f1f1f;
  margin-bottom: 0.5em;
}

.multi-inputs {
  display: flex;
  gap: 1em;
}

.form-wrapper {
  padding: 1.2rem;
}

label {
  font-weight: 600;
  color: #111;
  display: block;
  font-size: 0.8rem;
}

h3 {
  font-size: 0.8rem;
  font-weight: 600;
  color: #111;
  margin-bottom: 0.5em;
}

.rating-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 0.5em;
}

input:focus,
textarea:focus {
  border: 1px solid #20b2aa;
}

input,
textarea {
  outline: none;
  border: 1px solid #696969;
  padding: 0.5em 1em;
  margin: 0.5em 0;
  background-color: #fff;
  width: 100%;
  border-radius: 0.5em;
}

.button-wrapper button {
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.8em;
  width: 100%;
  font-weight: 600;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #1ccfc6;
}

.btn-primary {
  background-color: #20b2aa;
  color: white;
}

.input-wrapper {
  position: relative;
}

.icon-wrapper {
  position: absolute;
  top: 55%;
  left: 0.5em;
  transform: translateY(-50%);
}

.input-wrapper {
  margin-bottom: 0.4rem;
}
